chromadb
sentence-transformers
transformers
torch
pymupdf
python-docx
huggingface_hub
fastapi
uvicorn
flask-cors
python-multipart
python-dotenv
langchain-text-splitters
scikit-learn
numpy